/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  cursor: pointer;
}

/* Global reset end */
body {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  background-color: #1a2a33;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body section {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
body .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .menu .title img {
  width: 30px;
  margin: 0px 5px;
}
body .menu .side {
  width: 100%;
  margin: 40px 0px;
  background-color: #1f3641;
  text-align: center;
  padding: 24px;
  border-radius: 15px;
}
body .menu .side h3 {
  font-size: 16px;
  color: #a8bfc9;
}
body .menu .side .mark {
  background-color: #1a2a33;
  margin: 24px 0px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
body .menu .side .mark button {
  background-color: transparent;
  border: none;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
}
body .menu .side .mark button img {
  display: flex;
  width: 30px;
  height: 30px;
}
body .menu .side .mark .active {
  background-color: #a8bfc9;
}
body .menu .side .desc p {
  font-size: 14px;
  color: #a8bfc9;
  font-weight: 300;
}
body .menu .game-mode {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .menu .game-mode button {
  font-size: 20px;
  color: #1a2a33;
  border: none;
  border-radius: 15px;
  padding: 16px 0px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.186);
  transition: 250ms;
}
body .menu .game-mode #comp {
  background-color: #f2b137;
}
body .menu .game-mode #comp:hover {
  background-color: #ffc860;
  transition: 250ms;
}
body .menu .game-mode #multi {
  margin-top: 20px;
  background-color: #31c3bd;
}
body .menu .game-mode #multi:hover {
  background-color: #65e9e4;
  transition: 250ms;
}

.game {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.game .title .icons img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.game .title .turn {
  display: flex;
  align-items: center;
  background-color: #1f3641;
  padding: 13px 30px;
  border-radius: 10px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.391);
}
.game .title .turn img {
  width: 20px;
  width: 20px;
  margin-right: 10px;
}
.game .title .turn span {
  font-size: 16px;
  color: #a8bfc9;
}
.game .title .restart button {
  background-color: #a8bfc9;
  border: none;
  border-radius: 10px;
  padding: 15px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.445);
  transition: 250ms;
}
.game .title .restart button img {
  width: 20px;
  height: 20px;
}
.game .title .restart button:hover {
  background-color: #d8e8ed;
  transition: 250ms;
}
.game .game-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 14px 0px;
}
.game .game-container .box {
  width: 30%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f3641;
  border-radius: 15px;
  border-bottom: 6px solid rgba(0, 0, 0, 0.434);
  margin: 10px 0px;
  cursor: pointer;
}
.game .score {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.game .score .score-box {
  width: 30%;
  text-align: center;
  padding: 13px 0px;
  border-radius: 15px;
}
.game .score .score-box p {
  font-size: 14px;
  color: #1a2a33;
  font-weight: 500;
}
.game .score .score-box h3 {
  font-size: 24px;
  color: #1a2a33;
  margin-top: 5px;
}
.game .score .scoreX {
  background-color: #31c3bd;
}
.game .score .scoreTie {
  background-color: #a8bfc9;
}
.game .score .scoreO {
  background-color: #f2b137;
}/*# sourceMappingURL=global.css.map */